<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add connectionString="SERVER=localhost\SQLEXPRESS; Initial Catalog=EMPRESTEI; Integrated Security = true;" name="EMPRESTEI" />
  </connectionStrings>
</configuration>